body {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  background-color: #6a8d75;
}
h2 {
  color: #ddeedf;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.year {
  color: #ddeedf;
  font-weight: bold;
  font-size: 3em;
}
.countdown {
  display: flex;
  gap: 20px;
  color: white;
  border-radius: 5px;
  background-color: #5c715e;
  width: 100%;
  height: 120px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.countdown div {
  font-size: 2em;
  font-weight: bold;
  position: relative;
  width: 100px;
}
.countdown div::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 0;
  font-size: 0.35em;
  line-height: 35px;
  font-weight: lighter;
  text-transform: uppercase;
}
.countdown #days::before {
  content: "Days";
}
.countdown #hours::before {
  content: "Hours";
}
.countdown #minutes::before {
  content: "Minutes";
}
.countdown #seconds::before {
  content: "Seconds";
}
@media (max-width: 460px) {
  .countdown {
    background-color: transparent;
  }
}
